@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
    overflow-x: hidden;
    font-family: "Lato",sans-serif;
    color:#585962;
}

/* navigation   */
.navbar{
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
    background: rgba(0, 0, 0,0.6) !important;
    letter-spacing: .1rem;
}