@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
    overflow-x: hidden;
    font-family: "Lato",sans-serif;
    color:#585962;
}

/* navigation   */
.navbar{
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
    background: rgba(0, 0, 0,0.6) !important;
    letter-spacing: .1rem;
}

.navbar-brand{
    height: 2rem;
}
.nav-item.nav-link{
    color:white !important;
}
.nav-item.nav-link.active,.nav-item.nav-link:hover{
    color:#1ebba3 !important;
}

/* landing page */
.home-inner{
    background-image:url("../img/landing.jpg");
    /* background-size: cover;
     */
     background-attachment: fixed;
    height: 100vh;
    background-position: center;
}

.caption{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 38%;
    text-transform: uppercase;
    color: white;
}

.caption h1{
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;

}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

/* resources */
#resources{
    color: white;
    background-image:url("../img/resources.png");
    background-size: cover;
    
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
}

.narrow{
    width:75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1{
    font-size:2.4rem;
}

.btn-secondary.btn-md{
    border-width: medium;
    border-radius:0;
    text-transform: uppercase;
    font-size:1.2rem;
    padding:.6rem 1.2rem;
    margin:1rem;
    color:white;
    background-color: #1ebba3;
    border-color: #1ebba3;
}

.btn-secondary.btn-md:hover{
    border-width: medium;
    border-radius:0;
    text-transform: uppercase;
    font-size:1.2rem;
    padding:.6rem 1.2rem;
    margin:1rem;
    color:white;
    background-color: #189582;
    border-color: #189582;
}


/* feature */
.jumbotron{
    margin:0;
    padding:2rem 0 3.5rem;
}
h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline{
    width: 3rem;
    height: .2rem;
    margin: 0 auto 2rem;
    background-color: #1ebba3;
}

/* resources */
#resources .narrow{
    margin-top: 0;
}

.clients img{
    width: 100%;
}
